
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.el-col--right {
  text-align: right;
}

.todo-form {
  &__list {
    margin-top: 30px;
    border-top: solid 2px $grey;
    border-bottom: solid 1px $grey;
  }

  &__list-item {
    border-bottom: solid 1px $grey;
    display: block;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;

    &__text {
      padding: 5px 0;
      font-size: 17px;

      &--finished {
        text-decoration: line-through;
      }
    }
  }
}