<template>
    <el-main class="todo-report">
        <el-row v-bind:gutter="20">
            <el-col v-bind:span="24">
                <div v-bind:id="id"></div>
            </el-col>
        </el-row>
    </el-main>
</template>
<script>
    import axios     from 'axios';
    import _         from 'lodash';

    export default {
        data() {
            return {
                id: 'todoReport',
                chartOptions: {
                    title: {
                        text: 'Todo Burn Down'
                    },
                    data: {
                        rowsURL: location.protocol + '//' + location.hostname + '/todo/report.json',
                        firstRowAsNames: false,
                        enablePolling: true,
                        dataRefreshRate: 1,
                    },
                    legend: {
                        enabled: false
                    },
                    yAxis: {
                        title: {
                            text: 'Todo Count',
                            margin: 15
                        },
                    },
                    xAxis: {
                        title: {
                            text: 'Todo Burn Down',
                            margin: 15
                        },
                    },
                    tooltip: {
                        pointFormat: '<span style="color:{point.color}">\u25C6</span> Todo Count: <b>{point.y}</b><br/>',
                    }
                }
            }
        },
        methods: {
            drawLineGraph() {
                Highcharts.chart(this.id, this.chartOptions);
            }
        },
        watch:    {
            options() {
                this.drawLineGraph();
            }
        },
        mounted() {
            this.drawLineGraph();
        }
    };
</script>
