<template>
    <el-tabs v-model="activeName">
        <el-tab-pane label="Todo List" name="todo">
            <todo-list-form></todo-list-form>
        </el-tab-pane>
        <el-tab-pane label="Report" name="report">
            <todo-list-report></todo-list-report>
        </el-tab-pane>
    </el-tabs>
</template>
<script>
    export default {
        data() {
            return {
                activeName: 'todo'
            };
        }
    }
</script>
