<template>
    <el-main class="todo-form">
        <el-row v-bind:gutter="20">
            <el-col v-bind:span="18">
                <el-input v-model="newTask"></el-input>
            </el-col>
            <el-col v-bind:span="6" class="el-col--right">
                <el-button v-bind:disabled="!newTask"
                           v-on:click="addTask()"
                           type="primary"
                           plain>
                    Add Task
                </el-button>
            </el-col>
        </el-row>
        <el-row v-bind:gutter="20" class="todo-form__list">
            <div v-for="task in tasks" class="todo-form__list-item">
                <el-col v-bind:span="16"
                        class="todo-form__list-item__text"
                        v-bind:class="[task.finished_at ? 'todo-form__list-item__text--finished' : '']">
                    {{task.task}}
                </el-col>
                <el-col v-bind:span="8" class="el-col--right">
                    <el-button type="success"
                               v-on:click="markTaskDone(task.id)"
                               v-if="!task.finished_at"
                               plain>
                        Done
                    </el-button>
                    <el-button type="warning"
                               v-on:click="markTaskUndone(task.id)"
                               v-if="task.finished_at"
                               plain>
                        Undone
                    </el-button>
                    <el-button type="danger"
                               v-on:click="deleteTask(task.id)"
                               plain>
                        Delete
                    </el-button>
                </el-col>
            </div>
        </el-row>
    </el-main>
</template>
<script>
    import axios     from 'axios';
    import _         from 'lodash';

    export default {
        data() {
            return {
                newTask: '',
                tasks: null,
            };
        },
        mounted() {
            this.getTasks();
        },
        methods: {
            getTasks() {
                axios.get('/todo/get')
                    .then(response => {
                        this.tasks = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            addTask() {
                axios.post('/todo/store', {task: this.newTask})
                    .then(response => {
                        this.tasks = response.data;
                        this.newTask = '';
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            deleteTask(id) {
                axios.post('/todo/delete/' + id)
                    .then(response => {
                        this.tasks = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            markTaskDone(id) {
                axios.post('/todo/done/' + id)
                    .then(response => {
                        this.tasks = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            markTaskUndone(id) {
                axios.post('/todo/undone/' + id)
                    .then(response => {
                        this.tasks = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        }
    };
</script>
